* {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.25;
}

@for $i from 1 through 60 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 1 + px;
    opacity: 0.75;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.1s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    background: hsl(random(360), 70%, 50%);
    // background: black;
  }
}
